@model AuthSystem.Models.Test
@{
    ViewData["Title"] = "Create Test";
}

<h1>Create a new test</h1>

<form method="post" asp-action="Create" asp-controller="Test">
    <div>
        <label for="testName">Test Name:</label>
        <input type="text" id="testName" name="testName" />
    </div>

    <div id="subjects-container">
        @foreach (var subject in Model.Subjects)
        {
            <div>
                <input type="checkbox" name="selectedSubjectIds" value="@subject.SubjectId" id="subject_@subject.SubjectId" />
                <label for="subject_@subject.SubjectId">@subject.SubjectName</label>
                <input type="number" name="percentages[@subject.SubjectId]" id="percentage_@subject.SubjectId" min="0" max="100" />
                %
            </div>
        }
    </div>

    <div>
        Total Percentage: <span id="totalPercentage">0</span>%
    </div>

    <button type="submit" id ="submit-btn">Create</button>
</form>

<hr />

<h2>Test List</h2>

@if (Model.TestList.Count() == 0)
{
    <p>No tests created yet.</p>
}
else
{
    <table>
        <thead>
            <tr>
                <th>Test Name</th>
                <th>Subjects</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var test in Model.TestDetails)
            {
                <tr>
                    <td>@test.Test.TestName</td>
                    <td>@test.Subject.SubjectName</td>
                    <td>@test.Percentage</td>
                </tr>
            }
        </tbody>
    </table>
}

<script>
    function calculateTotalPercentage() {
        var totalPercentage = 0;
        var percentageInputs = document.querySelectorAll('#subjects-container input[type="number"]');
        percentageInputs.forEach(function (input) {
            if (input.value) {
                totalPercentage += parseInt(input.value);
            }
        });
        var submitButton = document.getElementById("submit-btn")
            if (totalPercentage != 100) {
              submitButton.setAttribute('disabled' , 'disabled')
            }
            else (
                submitButton.removeAttribute('disabled')
            )
        return totalPercentage;
    }

    function updateTotalPercentage() {
        var totalPercentageElement = document.getElementById('totalPercentage');
        var totalPercentage = calculateTotalPercentage();
        totalPercentageElement.textContent = totalPercentage;
    }

    // Call updateTotalPercentage initially and whenever the percentages change
    updateTotalPercentage();
    document.querySelectorAll('#subjects-container input[type="number"]').forEach(function (input) {
        input.addEventListener('input', updateTotalPercentage);
    

    });
    
</script>
