@model IEnumerable<MCQ>;
@{
    ViewData["Title"] = "My Questions";
}

<h1>My Questions</h1>


@foreach (var question in Model) {

    <div class="card">
        <h5 class="card-header">@question.Subject.SubjectName</h5>
        <div class="card-body">
            <h3>@Html.Raw(@question.Content)</h3>
            <a  class="btn btn-primary" asp-controller="MCQ" asp-action="Edit" asp-route-id="@question.Id">Update</a>
            <a  class="btn btn-danger" asp-controller="MCQ" asp-action="Delete" asp-route-id ="@question.Id">Delete</a>
            <a class="btn btn-success" asp-controller="MCQ" asp-action="View" asp-route-id="@question.Id">View</a>
            <a class="btn btn-success" >@question.Difficulty</a>


        </div>


    </div>
    <div id="button1">Button 1</div>
    <div id="button2">Button 2</div>
}