@model MCQ;

@{

    ViewData["Title"] = "View|Details";
}

<h1>View MCQ</h1>

<h1>@Html.Raw(@Model.Content)</h1>
<h1>@Html.Raw(@Model.Option1)</h1>
<h1>@Html.Raw(@Model.Option2)</h1>
<h1>@Html.Raw(@Model.Option3)</h1>
<h1>@Html.Raw(@Model.Answer)</h1>
<h1>@Html.Raw(@Model.Difficulty)</h1>
